<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>client app</title>
</head>
<body>

<h1>You are logged in</h1>
<table>
    <tr>
        <td><b>Name</b></td>
        <td th:text="${profile.name}"></td>
    </tr>
    <tr>
        <td><b>Email</b></td>
        <td th:text="${profile.email}"></td>
    </tr>
    <tr>
        <td><b>Subject</b></td>
        <td th:text="${profile.sub}">Subject</td>
    </tr>
    <a href="/">Home</a>
</table>
<hr/>
</body>
</html>
