<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
Just a test
</body>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function() {
	var fragment = window.location.hash;
	var res = getResponse(fragment);

	getUserId(res['access_token'], function(userId) {
		getFriends(userId, res['access_token'], function(friends) {
			console.log(friends);
		});
	});


	alert(friends.length);

});

function getResponse(fragment) {
	var attributes = fragment.slice(1).split('&');
	var response = {};

	$(attributes).each(function(idx, attr) {
		var keyValue = attr.split('=');
		response[keyValue[0]] = keyValue[1];
	});

	return response;
}

function getUserId(accessToken, callback) {
	var baseUrl = 'https://graph.facebook.com/v2.9/';
	var endpoint = 'me?fields=id';
	var url = baseUrl + endpoint;
	var userId = null;

	$.ajax({
        url: url,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        },
        success: function(data){
        	var userId = data.id;
			callback(userId);
        },
        error: function(jqXHR, textStatus, errorThrown)   {
            console.log(textStatus);
        }
    });

}

function getFriends(userId, accessToken, callback) {
	var baseUrl = 'https://graph.facebook.com/v2.9/';
	var endpoint = userId + '/friendlists';
	var url = baseUrl + endpoint;

	$.ajax({
        url: url,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        },
        success: function(data){
			var friends = data;
			callback(friends);
        },
        error: function(jqXHR, textStatus, errorThrown)   {
            console.log(textStatus);
        }
    });
}
/*]]>*/
</script>

</html>